/* The keypad height is 80% of total height of the calculator.
This allows the hight of the calculator to scale on smaller screens. */
.Keypad {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 2.5 1 0;
}

.Keypad-row {
  display: flex;
  flex: 1 0 20%;
}
