.Display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 1 0;
  padding: 10px 20px 10px 10px;
  background: linear-gradient(45deg, #504b4b, #5e5757);
  border: solid 1px #504b4b;
  border-bottom-width: 0;
  font-size: 36px;
  font-weight: 300;
  color: #f1f1f1;
}

.Display-unit {
  margin-right: auto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 400px) {
  .basic .Display {
    border-radius: 8px 8px 0 0;
  }
}

@media screen and (min-width: 700px) {
  .scientific .Display {
    border-radius: 8px 8px 0 0;
  }
}
